
html{
    box-sizing: border-box;
}

body{
    font-family: "Segoe";
    background-color: white;
    color: black;
    margin: 0;

}


header{
    background-color: #bf7631;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem;
}

nav a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
}

nav li {
    display: inline;
    margin-right: 0.5rem;
}

main{
    margin: 5rem auto;
    width: 100%;
}

.home{
    display: flex;
    
}

.image-pottery{
    height: 500px;
    width: 100%;
}

.image-vase_one{
    width: 50%;
}



.image-mundo{
    width: 50%;
}

.image{
    width: 25%;
}

main section{
    margin-top: 2rem;
    padding: 5rem;
    
    

}

.image-flowertwo{
    width: 25%;
    transform: rotateY(180deg);
}

.section-about{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.product-images{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
}




footer{
    background-color: #bf7631;
    position:static;
    height:min-content;
    height: 50%;
    width: 100%;
    bottom: 2;
    padding: 1rem;
    display:flex;

}

.image-youtube{
    width:25%
}

.image-FB{
    width:25%
}

.image-twitter{
    width:25%
}

.image-insta{
    width:25%;
    bottom: 0.7rem;
    right: 1rem;

}